{{define "index"}}
{{.head}}

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4>Index Page</h4>
        <p><a href="/npc/1001">npc link</a><br>
          <a href="/item/1001">item link</a><br>
          <a href="/spell/52">spell link</a><br>          
          <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
{{end}}